:root {
  --b1: #012a4a;
  --b2: #2c7da0;
  --b3: #89c2d9;
  --g1: #e7ecef;
}

* {
  margin:0%;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: var(--b1);
}

main {
  margin-bottom: 40px;
}

main a {
  color: var(--b1);
  font-weight: bold;
}

main a:hover {
  color: var(--b2);
}

main p,
main ul {
  margin-bottom: 10px;
  text-align: justify;
}

header {
  background: var(--b3);
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  padding: 1% 2%;
}

nav a,
footer a {
  width: auto;
  padding: 0px 15px;
}

.top img {
  height: 400px;
}

#image img {
  width: 98%;
  border-radius: 10px;
}

.g1-block{
  background: var(--g1);
}

footer {
  background: var(--b3);
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
}

/* ========== resume ========== */
section {
  padding-left: 10px;
}

.tab {
  padding-left: 15px;
}

.tab-tab {
  padding-left: 25px;
}

.no-line-break {
  margin-bottom: 0px;
}

/* ========== contact form ========== */

form {
  background: var(--g1);
  padding: 10px;
  display: table;
  width: 100%;
}

.first {
  width: 100px;
}

.center {
  text-align: center;
}

form tr {
  vertical-align: top;
}

form input {
  width: 100%;
}

form textarea {
  min-height: 150px;
  width: 100%;
  resize: vertical;
}

form button {
  width: 200px;
}

/* ========== flexbox classes ========== */
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.top {
  /* background: var(--g1); */
  margin: 0px 20px;
  width: 80%;
  text-align: center;
  padding: 1%;
}

.middle {
  margin: 0px 10px 10px 10px;
  padding: 10px;
  width: 80%;
}

.left {
  width: 49%;
  display: inline-block;
  vertical-align: top;
  padding-right: 5px;
}

.right {
 width: 49%;
 display: inline-block;
 vertical-align: top;
 padding-left: 5px;
}

.small-left,
.small-right {
  width: 29%;
  display: inline-block;
  /* vertical-align: top; */
  padding-right: 5px;
}

.large-left,
.large-right {
 width: 69%;
 display: inline-block;
 vertical-align: top;
 padding-left: 5px;
}